# Port server backend
PORT=3001

# URL frontend kamu (dipakai untuk CORS). Waktu development boleh "*",
# tapi waktu production isi dengan URL asli frontend, misal:
# CLIENT_ORIGIN=https://gamembti.vercel.app
CLIENT_ORIGIN=*
